.root {
    -fx-background-color: rgb(40, 40, 40);
}

.button {
    -fx-font-family: "Georgia";
    -fx-font-size: 18px;
    -fx-background-color: rgb(15, 15, 15);
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-max-width: 300px;
    -fx-max-height: 100px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button:hover {
    -fx-background-color: rgb(30, 30, 30);
}

.text-field {
    -fx-font-family: "Georgia";
    -fx-font-size: 18px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-max-width: 300px;
    -fx-max-height: 100px;
}

.password-field {
    -fx-font-family: "Georgia";
    -fx-font-size: 18px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-max-width: 300px;
    -fx-max-height: 100px;
}

.title-label {
    -fx-font-family: "Georgia";
    -fx-font-size: 36px;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-max-width: 300px;
    -fx-max-height: 100px;
}

.hint-label {
    -fx-font-family: "Georgia";
    -fx-font-size: 14px;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-max-width: 300px;
    -fx-max-height: 100px;
}

.hyperlink {
    -fx-alignment: center;
    -fx-font-family: "Georgia";
    -fx-font-size: 14px;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-max-width: 300px;
    -fx-max-height: 100px;
}

.hyperlink:pressed {
    -fx-focus-color: transparent;
}